data/raw/*
models/
data/processed/*
data/chunks/*
!data/**/.gitkeep
.env
__pycache__/
*.pyc
.venv/
!models/embedder-indic-finetuned/
!data/index/
!data/index/**
!models/embedder-indic-finetuned/
!data/index/
!data/index/**
.DS_Store
.DS_Store
